@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Here is a Message!</h2>
    <div class="messages">
        @model string
        @Model
        
    </div>
</div>
